body{
    background-color: #131417;
    text-align: center;

}

.content{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.main-header{
    color: green
}


.btn{
    border-radius: 40px;
    cursor: pointer;
    background-color: black;
    color: green;
    margin-right: 20px;
}

.decreption{
    color: greenyellow;
    margin-right: 40px;
}

.song{
    border-bottom: 1px solid greenyellow;
    margin: auto;
    text-align: right;
    padding: 15px;
    width: 500px
}
