body{
    background-color: #131417;
    text-align: center;

}

.btn{
    border-radius: 40px;
    cursor: pointer;
    background-color: black;
    color: green;
}

.decreption{
    color: greenyellow;
    margin-right: 40px;
}

.song{
    margin: auto;
    text-align: right;
    padding: 15px;
    width: 500px
}
